######################### Intellij entries from: https://www.gitignore.io/api/intellij #########################

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/misc.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/.name

.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

.idea/bashsupport_project.xml

out/

######################### Scenario Explorer entries #########################

docker/images/web-ui*/*.war
docker/images/web-ui*/*.tar.gz
docker/compose/aws/teamcity-server/*.jar
docker/compose/aws/*.env
docker/compose/aws/ldap/add-users.ldif
docker/compose/localdev/localdev-aws-credentials.env
docker/compose/aws/pull-all-docker-images-from-registry.sh

thirdparty/

support/build/
support/output/
support/localdev.build.number.txt
support/helper-scripts/push-all-docker-images-to-registry.sh
support/helper-scripts/pull-all-docker-images-from-registry.sh
support/helper-scripts/rebuild-docker-images.sh

logs/*
console-tools/working-dir/*.yaml
*.patch

se_config.txt

