@import '_common.scss';

/**********************************************************************************************************************************************************************************/

.strike
{
	text-decoration: line-through;
}

.narrow-main-content-holder
{
	max-width: 600px;
}

#left-sidebar-holder
{
	min-height: 550px;
}

/**********************************************************************************************************************************************************************************/
