/**********************************************************************************************************************************************************************************/

.clickable
{
	cursor: pointer;
}

.no-overflow
{
	overflow: hidden;
}

/**********************************************************************************************************************************************************************************/

$short-field-width: 12rem;

input.number-field
{
	width: $short-field-width;
}

/**********************************************************************************************************************************************************************************/

div.datepicker-holder
{
	width: 18rem;
}

/**********************************************************************************************************************************************************************************/

input.colorpicker-holder
{
	width: $short-field-width;
}

/**********************************************************************************************************************************************************************************/

.color-swatch
{
	display: inline-block;
	margin: 0 0 0 0.5rem;
	padding: 0;
	vertical-align: bottom;
	height: 1.5rem;
	width: 1.5rem;
}

/**********************************************************************************************************************************************************************************/

.slider-selection
{
	background: lightgrey; /* our bg-medium */
}

.slider-handle
{
	background: #007bff; /* bootstrap bg-primary */
	//cursor: col-resize;
	cursor: ew-resize;
}

/**********************************************************************************************************************************************************************************/

table.dataTable
{
	border-top: none;
}

/**********************************************************************************************************************************************************************************/

.bg-medium
{
	background-color: lightgrey !important;
}

/**********************************************************************************************************************************************************************************/

#help-sidebar
{
	float: right;
	min-width: 300px;
	max-width: 350px;

	.help-sidebar-title
	{
		font-weight: bold;
	}

	.help-sidebar-description
	{
		margin-bottom: 1rem;
		color: dimgrey;
	}
}

/**********************************************************************************************************************************************************************************/

