@import '_common.scss';

/**********************************************************************************************************************************************************************************/

div.plugin-config
{
	min-height: 8rem;
}

#left-sidebar-holder
{
	min-height: 550px;
}

/**********************************************************************************************************************************************************************************/

.form-control::placeholder
{
	opacity: 0.5;
}

div.form-control
{
	height: auto;
}

/**********************************************************************************************************************************************************************************/

.list-group-item
{
	border-width: 1px 0 1px 0;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

/**********************************************************************************************************************************************************************************/

.accordion-link
{
	text-decoration: none !important;
}

/**********************************************************************************************************************************************************************************/

$header-and-breadcrumbs-height: 108px;
$right-side-bar-width: 440px;

#view-canvas-holder
{
	position: absolute;
	z-index: 9999;
	top: $header-and-breadcrumbs-height;
	bottom: 0;
	left: 0;
	right: $right-side-bar-width;

	canvas
	{
		height: 100%;
		width: 100%;
	}
}

#view-canvas-side-bar
{
	position: absolute;
	z-index: 9999;
	top: $header-and-breadcrumbs-height + 12px;
	bottom: 0;
	right: 0;
	width: $right-side-bar-width;
	overflow: auto;
}

/**********************************************************************************************************************************************************************************/

.slider.slider-horizontal
{
	width: 100%;
}

/**********************************************************************************************************************************************************************************/
