<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

	<Appenders>

		<Console name="console.appender" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %file(%line) - %msg%n" />
		</Console>

	</Appenders>

	<Loggers>

		<Logger name="console.logger" level="debug" additivity="false">
			<AppenderRef ref="console.appender" level="debug" />
		</Logger>

		<!-- map all loggers back to the console appender -->
		<Logger name="web.logger" level="debug" additivity="false">
			<AppenderRef ref="console.appender" level="debug" />
		</Logger>
		<Logger name="backend.logger" level="debug" additivity="false">
			<AppenderRef ref="console.appender" level="debug" />
		</Logger>
		<Logger name="unit.test.logger" level="debug" additivity="false">
			<AppenderRef ref="console.appender" level="debug" />
		</Logger>
		<Logger name="mail.logger" level="debug" additivity="false">
			<AppenderRef ref="console.appender" level="debug" />
		</Logger>

		<Root level="info">
			<AppenderRef ref="console.appender" />
		</Root>
	</Loggers>

</Configuration>
