
################################################################################

SE_LDAP_ROOT_DN={{getenv "SE_LDAP_ROOT_DN"}}
SE_LDAP_ROOT_PW={{getenv "SE_LDAP_ROOT_PW"}}
SE_LDAP_BASE_DN={{getenv "SE_LDAP_BASE_DN"}}
SE_LDAP_PROTOCOL={{getenv "SE_LDAP_PROTOCOL"}}
SE_LDAP_SERVER={{getenv "SE_LDAP_SERVER"}}
SE_LDAP_PORT={{getenv "SE_LDAP_PORT"}}
